.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.viewContainer {
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.justifySpaceAround {
  justify-content: space-around;
}
.justifyCenter {
  justify-content: center;
}
.outterCon{
  width: 100%;
  height: calc(100% - 114px);
}
.footerCon{
  height: 70px;
}
.firstView h2{
  font-size: 35px;
  color: #fff;
  font-family: 'Canaro-Medium';
  font-weight: 500;
}
.firstView h2 span{
  font-size: 60px;
  color: yellow;
  display: block;
  text-align: center; 
  margin-top: 20px;
}
.thumbImg{
  width: 100px;
  height: 130px;
  background: url(../../assets/thumb.png) no-repeat;
  background-size: contain;
  margin-bottom: 30px;
}
.btm_btn{
  width: 100px;
  margin: auto;
  border-radius: 55px;
  background: none;
  border: solid 2px #fff;
  color: #fff;
  height: auto;
  padding: 5px 8px;
  letter-spacing: 2px;
}
