.footerCon span{
  display: block;
  text-align: center;
  font-size: 18px;
  font-family: 'Canaro-Medium';
  margin-top: 20px;
}
.secondView h2{
  	font-size: 20px;
	color: #fff;
	font-family: 'Canaro-Medium';
	font-weight: 500;
	text-align: center;
	padding-bottom: 20px;
	line-height: 30px;
	margin-top: 10px;
}
.secondView span.count{
  font-size: 60px;
  color: yellow;
  display: block;
  text-align: center; 
  margin-top: 50px;
  font-family: 'Canaro-Medium';
}
.secondView h5{
	font-family: 'Canaro-Medium';
	text-transform: uppercase;
	font-weight: 400;
}
.secondView h5 span{
	color: yellow;
	margin-left: 10px;
}
.thumbImg{
	margin: auto;
	background-position: center; 
	border:none;
}
.thumbImg:focus, .thumbImg:active{
	outline: none;
	border: none;
}