.title {
  font-size: 24pt;
  text-transform: uppercase;
}
.thirdView h2{
  	font-size: 20px;
	color: #fff;
	font-family: 'Canaro-Medium';
	text-align: center;
	line-height: 30px;
}
.thirdView h2 span{
  font-size: 30px;
}
.thirdView h2 span.count{
  	font-size: 60px;
    color: yellow;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
}
.thirdView h3{
	color: #12bf12;
    font-size: 40px;
    margin-bottom: 30%;
    margin-top: 0;
    font-family: 'Canaro-Medium';
    font-weight: bold;
}
