@font-face {
  font-family: 'Canaro-Medium';
  src: url('assets/fonts/Canaro-Medium.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Canaro-Medium';
  src:  url('assets/fonts/Canaro-Medium.woff') format('woff'), url('assets/fonts/Canaro-Medium.ttf')  format('truetype'), url('assets/fonts/Canaro-Medium.svg#Canaro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: #d3d3d3;
  overflow: hidden;
  height: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
}
#root {
  height: 100%;
}
.header{
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  box-sizing: border-box;
  font-family: 'arial';
}
